<header>
  <app-navbar></app-navbar>
</header>
<main class="container">
  <div class="container__welcome">
    <img src="../../../assets/image/img-welcome.png" alt="" />
    <div class="container__welcome--right">
      <h1>BIENVENIDO A FILANTROPÍA</h1>
      <p>
        ¡Promovemos la transformación social por medio de vínculos de confianza
        y solidaridad, para generar oportunidades a través de la educación!
      </p>
      <app-anchordonations>Donar ahora</app-anchordonations>
    </div>
  </div>
  <div class="container__causes">
    <app-sectioncauses></app-sectioncauses>
  </div>
  <app-sectioncampaigns></app-sectioncampaigns>
  <app-sectioncertificate></app-sectioncertificate>
  <app-sectionquestions></app-sectionquestions>
  <div class="container__sponsors">
    <h2>Nuestros principales aliados</h2>
    <img src="../../../assets/image/img-sponsors.jpg" alt="Patrocinadores de Filantropía">
  </div>
</main>


