a {
  color: black;
  text-decoration: none;
}

.navbar {
  background-color: #fffef8;
  width: 90vw;
  height: 80px;
  margin: 0 auto;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__logo {
    width: 18.75em;
    height: 100%;
    cursor: pointer;

    img {
      width: 100%;
      margin: auto;
    }
  }

  &__items {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;

    a:first-child {
      font-weight: bold;
    }

    button {
      cursor: pointer;
      transition: all 300ms ease;

      &:hover {
        color: #03757f;
        transform: translateY(2%);
      }
    }
  }
}

.reportsOverlay {
  background-color: #fffef8;
  width: 140px;
  height: auto;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.4);
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-shadow: #7fccd3;
  letter-spacing: 2px;
  list-style: none;

  hr {
    background-color: #c7c7c7;
  }

  a:hover {
    color: #03757f;
  }

  fa-icon {
    align-self: flex-end;
    padding: auto;
    cursor: pointer;
    color: #a7d9de;

    &:hover {
      color: #5cb1ba;
    }
  }
}
