<section class="accordion">
  <header class="accordion__title">
    <h2>Preguntas frecuentes</h2>
  </header>
  <div class="accordion__content">
    <mat-accordion>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>1. ¿Qué es Filantropía?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>H​ace parte de la Dirección de Desarrollo Institucional y Vínculos, ​y es el área donde se cultiva la transformación social por medi​o de ​​iniciativas filantrópicas, para contribuir al desarrollo de la sociedad.​</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>2. ¿Cómo donar?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>​Desde Filantropía EAFIT contamos con diferentes canales para facilitar el proceso de donación.
          Para resolver cualquier inquietud comunícate con Filantropía EAFIT al teléfono 604 2619500 extensión 9297, o envíanos un correo electrónico a cfilantropia@eafit.edu.co.
          Medios para realizar una donación
          Pago en línea: De forma fácil y segura puedes realizar la donación con tarjeta crédito o débito a través de nuestro sitio web de donaciones.
          Transferencia electrónica:  Puedes realizar tu donación por medio de transferencia a la cuenta de ahorros Bancolombia número 935-948075-78 a nombre de la Universidad EAFIT y enviarnos copia del comprobante al correo cfilantropia@eafit.edu.co.
          Cheque: Comunícate con Filantropía EAFIT al teléfono 604 2619500 extensión 9297, o envíanos un correo electrónico a cfilantropia@eafit.edu.co
          Caja principal Universidad EAFIT:  Puedes dirigirte a la Universidad EAFIT en la dirección Carrera 49 N° 7 Sur-50, Bloque 29 Piso 1, Medellín, Colombia.
          Para donaciones en especie, títulos valores u otros, comunícate con Filantropía EAFIT al teléfono 604 2619500 extensión 9297, o envíanos un correo electrónico a cfilantropia@eafit.edu.co.​</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>3. ¿Quiénes pueden donar?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>​Todas las personas interesadas en apoyar a la Universidad EAFIT, entre ellos estudiantes, egresados, empleados, aliados, y personas jurídicas como organizaciones y fundaciones.​</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>4. ¿Cómo puedo hacer donaciones en especie?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>​La Universidad EAFIT también recibe donaciones en especie. Entre estas se cuentan equipos para laboratorios, equipos deportivos, computadores, libros, dotación para las aulas, instrumentos para la orquesta sinfónica EAFIT, entre otros. Estos aportes permiten a nuestros estudiantes tener acceso a herramientas indispensables para su aprendizaje e igualmente contribuyen con la labor docente y de investigación de nuestros profesores. Para hacer una donación en especie, envíanos un correo a cfilantropia@eafit.edu.co o comunícate al teléfono (57) 604 2619500 extensión 9297.​</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>5. ¿Qué beneficios tributarios obtengo al hacer una donación?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>​La Universidad EAFIT, en su calidad de donataria y en cumplimiento de la ley fiscal, otorga el certificado de donación independientemente de su monto, debidamente suscrito por el revisor fiscal, el cual dará lugar a un descuento sobre el impuesto de renta y complementarios, bien sea persona natural o jurídica.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>6. ¿Qué es una donación recurrente?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Son donaciones que puedes programar para que se realicen de forma automática periódicamente.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>7. ¿Cómo y cuando puedo cancelar una donación recurrente?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>​Se puede cancelar la recurrencia en el momento que el donante lo decida, solo debes enviar un correo electrónico a la dirección: cfilantropia@eafit.edu.co, o comunicarte al teléfono (57) 604 2619500 extensión 9297.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>8. ¿Cuál es el monto mínimo y máximo para realizar una donación en línea?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Se pueden realizar donaciones desde $10.000 pesos colombianos hasta $39 millones de pesos colombianos.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="accordion__content--question">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordion__content--title">
            <h1>9. ¿Cuándo una donación requiere insinuación notatorial?</h1>
            <button>
              <fa-icon class="accordion__content--icon fa-2xl"
                [icon]="panelOpenState? faCircleChevronUp : faCircleChevronDown"></fa-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Todas las donaciones en dinero o en especie que superen los 50SMLMV requieren insinuación notarial. Para saber más de este proceso comunícate a cfilantropia@eafit.edu.co o al teléfono (57) 604 2619500 extensión 9297.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
